.stories-wrapper {
    gap: 1rem;

    // hide bottom scroll line
    &::-webkit-scrollbar-track {
        display: none;
    }
    &::-webkit-scrollbar {
        display: none;
    }
    &::-webkit-scrollbar-thumb {
        display: none;
    }

    .stories-container {
        min-height: 283px;
        max-height: 283px;
        min-width: 187px;
        max-width: 187px;
        background-color: #eeeeee;
        background-image: url('https://plus.unsplash.com/premium_photo-1683288446478-d998f96592e0?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 10px 10px 0px 0px;
        cursor: pointer;
    }
}

@media screen and (max-width: 600px) {
    .stories-wrapper {
        gap: .5rem;
    }
}